@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
.header {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: rgba(39, 39, 39, 0.904);
}

.header-title {
    font-family: Lato, sans-serif;
    float: inline-start;
    font-size: 35px;
    color: rgb(130, 200, 202, 0.904);
    text-decoration: none;
}

.header-element {
    padding: 1%;
    font-family: Lato, sans-serif;
    float: right;
    color: rgb(223, 223, 223);
    font-size: 20px;
    text-decoration: none;
}

.header-element-onpage {
    padding: 1%;
    font-family: Lato, sans-serif;
    float: right;
    color: rgb(223, 223, 223);
    font-size: 20px;
    text-decoration: underline;
}

.header-element:hover {
    background-color: rgba(130, 200, 202, 0.411);
}

.header-element-onpage:hover {
    background-color: rgba(130, 200, 202, 0.411);
}